@use "@/common/vars" as *;

.header {
  height: 65vh;
  min-height: 700px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  .bgImage {
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: brightness(60%);
  }

  h1 {
    font-size: 9rem;
    margin-top: 2%;
    line-height: 9rem;

    @media all and (max-width: 670px) {
      font-size: 20vw;
      line-height: 20vw;
    }
  }

  p[role="doc-subtitle"] {
    font-size: 2rem;
    margin-top: 4rem;

    @media all and (max-width: 670px) {
      margin-top: 6vw;
    }

    @media all and (max-width: 470px) {
      font-size: 6vw;
    }
  }

  .wheat {
    height: auto;
    width: 870px;
    position: relative;
    margin-top: -3.5%;

    @media all and (max-width: 1185px) {
      width: 86%;
    }
  }
}

.section {
  max-width: $maxContentWidth;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 2rem;

  header {
    margin-bottom: 3rem;
    text-align: center;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
  max-width: 80%;
  margin: 0 auto;

  & > a {
    position: relative;
    padding: 2rem;
    color: white;
    height: 500px;

    img {
      object-fit: cover;
      filter: contrast(50%);
      z-index: -1;
      transition: filter 0.3s ease-in-out;
    }

    &:hover {
      color: $highlight;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
        0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;

      img {
        filter: contrast(100%);
      }

      .normalName,
      .fancyName {
        letter-spacing: 1px;
      }
    }

    .normalName,
    .fancyName {
      transition: letter-spacing 0.3s ease-in-out;
    }

    .fancyName {
      text-transform: none;
      font-size: 6vw;
      transform: rotate(354deg);
      display: block;
      line-height: 1.2em;
    }

    .normalName {
      display: block;
      font-size: 2rem;
      margin-top: -1.5rem;
      font-weight: 500;
      margin-left: 2.5rem;
    }
  }
}

.commitments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
  max-width: 70%;
  margin: 0 auto;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }

  .icon {
    $size: 150px;
    width: $size;
    height: $size;
    background: $primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5rem;
    position: relative;
    color: white;

    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      inset: -10px;
      border-radius: 50%;
      border: 5px solid $primary;
    }
  }

  .valueName {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
  }

  .valueDesc {
    text-align: center;
  }

  @media all and (max-width: 1525px) {
    max-width: 90%;
  }
}

@media all and (max-width: 1085px) {
  .categories,
  .commitments {
    max-width: 100%;
  }
}

@media all and (max-width: 935px) {
  .categories,
  .commitments {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, 1fr);
  }

  .categories > a .fancyName {
    font-size: 18vw;
  }
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;

  section:first-child {
    flex: 1;
    margin-right: 2rem;
    max-width: 800px;

    p {
      margin-bottom: 1rem;
      text-indent: 2em;
    }

    button {
      margin-top: 1rem;
    }
  }

  .storyImageContainer {
    width: 700px;
    height: 450px;
    position: relative;

    img {
      object-fit: cover;
    }
  }
}
