@use "@/common/vars" as *;

.pageWrapper {
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;

  .image {
    flex-shrink: 0;
    width: 600px;
    height: 900px;
    position: relative;
    margin-left: 2rem;

    img {
      object-fit: cover;
    }
  }
}

@media all and (min-width: 1630px) {
  .quote {
    position: absolute !important;
    top: -3rem;
    right: calc(600px + 3.5rem);
  }

  .wrapper section.text {
    margin-top: 2rem;
  }
}

@media all and (max-width: 1630px) {
  .wrapper {
    margin: 0 3rem;
    align-items: flex-start;

    .image {
      width: 500px;
      height: 800px;
    }
  }

  .quote {
    margin-left: auto;
    margin-right: 3rem;
    max-width: 900px;
  }
}

@media all and (max-width: 1100px) {
  .wrapper {
    flex-direction: column-reverse;

    .image {
      width: 100%;
      height: 90vh;
      margin-left: 0;
      margin-bottom: 2rem;
    }
  }

  .quote {
    max-width: unset;
    margin-left: 2rem;
  }
}

@media all and (max-width: 370px) {
  .wrapper {
    margin: 0;

    section:first-child {
      margin: 0 2rem;
    }
  }
}
