@use "@/common/vars" as *;

.header {
  height: 35vh;
  min-height: 350px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  h1 {
    font-size: 8rem;
    margin-top: -2rem;
    line-height: 0.8em;
    word-break: break-word;

    @media all and (max-width: 535px) {
      font-size: 24vw;
    }
  }

  .wheat {
    position: relative;
    width: 750px;
    margin-top: -5rem;

    @media all and (max-width: 1185px) {
      width: 86%;
    }

    @media all and (max-width: 700px) {
      margin-top: -8vw;
    }

    @media all and (max-width: 535px) {
      margin-top: -5vw;
    }
  }
}

.pageFrame {
  position: absolute;
  bottom: -62%;
  width: 100%;
  transform: scaleX(-1) scaleY(0.3);
}
