@use "@/common/vars" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #271e05;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  @include clickable;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

hr {
  border: none;
  border-top: 1px solid #c0baaa;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 4rem;
  text-align: center;
}
