$primary: #ffc516;
$primaryLight: #fbf9f2;
$highlight: #bc0e0e;
$highlightDark: #1b0707;
$error: #ff6c6c;
$maxContentWidth: 2300px;

@mixin clickable {
  color: #535047;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $primary;
    letter-spacing: 1px;
  }
}

@mixin headerImage {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
